@import 'reset';
@import 'header';
@import 'nav';
@import 'footer';
@import 'scriptClasses';
@import 'grid';
@import 'cake';
@import 'topping';
@import 'dimension';

body {
  font-family: "open_sansregular", Arial, sans-serif;
  color: $fontColor;

}

.background {
  background-color: $backgroundColor;
}
