//cake colors

$layerColor: #f0d66b;
$cakeBorder: 0px solid black;
$cakeShadow: 1px 1px 4px 0px rgba(0,0,0,0.41);

$fontColor: #737373;

$button1color: #dc4b4b;
$button2color: #ed9241;
$button3color: #ecd641;
$button4color: #8fc235;
$button5color: #4b8fbe;
$button6color: #6048b8;
